.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .9rem;
    margin-bottom: 1rem;
}

#global-footer {
    position: absolute;
    left: 0;
    background-color: #2a2d33;
    color: #d5d5d5;
    padding-top: 2rem;
    bottom: 0;
    height: 18rem;
    width: 100%;
}

.card-header {
    background-color: #ccffbc;
}

.login {
    max-width: 40rem;
    background-color: #ffffff;
    margin: 100px auto 200px;
    padding: 20px;
}

#application {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    position: relative;
    min-height: 100vh;
    /*display: flex;*/
    /*flex-direction: column;*/
}

#content-wrapper {
    padding-bottom: 18rem;
}

/*html, body {*/
/*    min-height: 100%;*/
/*}*/

html,
body {
    margin:0;
    padding:0;
    height:100%;
}

.container {
    padding-bottom: 40px;
}


.map {
    height: 420px;
    width: 100%;
}